# Configuration file for ztDNS

# Domain suffix for all networks
suffix = "zt"
# Listen port
port = 53
# Interface whose adress ztdns will bind to (leave empty to bind to all addresses)
interface = "zt0"
# Whether offline peers must be resolved or not (Default: false)
resolve-offline = false

# Number of minutes to wait before updating the DNS database again (Default: 30)
DBRefresh = 30

# This section contains information related to your ZeroTier config
[ZT]
# API key used to contact the ZeroTier controller API service.
API = ""
# URL is the url of the ZeroTier controller API
URL = "https://my.zerotier.com/api"

# This section contains one or more ZeroTier networks
# Format is: domain = "NetworkID"
# Domain does not have to match the configured network name
[Networks]


